<div class="p-d-flex p-jc-center p-ai-center" style="min-height: 80vh">
  <p-card
    header="Bienvenido al Panel de Administración"
    [style]="{ width: '500px' }"
  >
    <div class="p-text-center">
      <p>Has iniciado sesión correctamente como administrador.</p>
      <p>
        Desde aquí podrás gestionar tus recetas, categorías, regiones y
        provincias.
      </p>

      <p-button
        label="Cerrar Sesión"
        icon="pi pi-sign-out"
        (click)="logout()"
      ></p-button>
    </div>
  </p-card>
</div>
